server:
  port: 8080

spring:
  application:
    name: mama

  datasource:
    url: jdbc:postgresql://postgres:5432/mama_db
    username: postgres
    password: sethan8r
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true